.all-page{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #264659;     
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#d16a15), to(#578b02));
    background: -webkit-linear-gradient(top, #d16a15, #65a9d7);     
    background: -moz-linear-gradient(top, #d16a15, #65a9d7);     
    background: -ms-linear-gradient(top, #d16a15, #65a9d7);     
    background: -o-linear-gradient(top, #d16a15, #65a9d7);  
}

.left{
    width: 33%;
    order: -1;
}

.picture{
	height: 200px;
 	width: 50%;
	border-radius: 100%
}
.content{
    height: 100px;
    border-top: 10px solid #0d6330;
    text-align: center;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 70em;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: antiquewhite;    
}

.button {      
    border-top: 1px solid #264659;     
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);     
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);     
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);     
    background: -o-linear-gradient(top, #3e779d, #65a9d7);     
    padding: 6px 12px;     
    -webkit-border-radius: 14px;     
    -moz-border-radius: 14px;     
    border-radius: 14px;     
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;     
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;     
    box-shadow: rgba(0,0,0,1) 0 1px 0;     
    text-shadow: rgba(0,0,0,.4) 0 1px 0;     
    color: #910591;     
    font-size: 24px;     
    font-family: Helvetica, Arial, Sans-Serif;     
    text-decoration: none;     
    vertical-align: middle;
    text-align: center;
} 
.button:hover {      
    border-top-color: #1ab574;     
    background: #1ab574;     
    color: #de0dde;
} 
.button:active {      
    border-top-color: #1b435e;     
    background: #1b435e;
} 

.projects{
    display: flex;
}

.messageBoard{
    width: 33%;
}

.WhatILearnedToday{
    width: 33%;
}

.radio{
    width: 33%;
}

img {
    border-image: 10em;
    border-color: #1ab574;
}

.right{
    width: 33%;
    order: 1;
    padding: 20em;
}

