body {
    overflow-x: hidden;
  }
  
  .container {
    display: block;
  }
  
  .left, .right {
    position: absolute;
    width: 250px;
    height: 100%;
  
    /*
      This is a trick to improve performance on newer versions of Chrome
      #perfmatters
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
  
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
  
    z-index: 1;
  }
  
  .left {
    /*
    Using translate3d as a trick to improve performance on older versions of Chrome
    See: http://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/
    #perfmatters
    */
    -webkit-transform: translate(-250px,0);
    transform: translate(-250px,0);
  }
  
  .content {
    width: 100%;
    position: absolute;
  }
  
  .right {
    left: 100%;
  }
  
  .left.open {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
  
  .right.open {
    -webkit-transform: translate(-250px,0);
    transform: translate(-250px,0);
  }
  
  @media (min-width: 500px) {
    /* If the screen is wider then 500px, use Flexbox */
    .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
    }
    .left {
      position: relative;
      -webkit-transition: none 0s ease-out;
      transition: none 0s ease-out;
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
    .content {
      position: static;
    }
  }
  
  @media (min-width: 800px) {
    body {
      overflow-x: auto;
    }
    .right {
      position: relative;
      left: auto;
      -webkit-transition: none 0s ease-out;
      transition: none 0s ease-out;
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
  }